<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>editProfileServlet</servlet-name>
        <servlet-class>com.AradhanaMilkAndBekary.Servlet.editProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.AradhanaMilkAndBekary.Servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>com.AradhanaMilkAndBekary.Servlet.getPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.AradhanaMilkAndBekary.Servlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logInServlet</servlet-name>
        <url-pattern>/logInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfileServlet</servlet-name>
        <url-pattern>/editProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.AradhanaMilkAndBekary.Servlet.RegisteruserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logInServlet</servlet-name>
        <servlet-class>com.AradhanaMilkAndBekary.Servlet.logInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registeruserServlet</url-pattern>
    </servlet-mapping>
</web-app>
